<?xml version="1.0" encoding="UTF-8" ?>

<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="_log_viewer_list" path="/">
        <default key="_controller">evotodi_log_viewer.log_list_controller::logListAction</default>
    </route>

    <route id="_log_viewer_viewer" path="/viewer">
        <default key="_controller">evotodi_log_viewer.log_viewer_controller::logViewAction</default>
    </route>

</routes>
